<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.EZedu.dao.RoleDao">
    <select id="getAllRoles" resultType="com.EZedu.model.Role">
        SELECT r.* FROM role r
    </select>
    <insert id="addRoles">
        INSERT INTO role_user VALUES
        <foreach collection="roles" item="role" separator=",">
            (null,#{role},#{userId})
        </foreach>
    </insert>
</mapper>