<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.EZedu.dao.UserDao">
    <resultMap id="UserResultMap" type="com.EZedu.model.User">
        <id column="id" property="id"/>
        <result column="email" property="email"/>
        <result column="givenname" property="givenname"/>
        <result column="surname" property="surname"/>
        <result column="age" property="age"/>
        <result column="address" property="address"/>
        <result column="wechat" property="wechat"/>
        <result column="school" property="school"/>
        <result column="hobby" property="hobby"/>
        <result column="purpose" property="purpose"/>
        <result column="skill" property="skill"/>
        <result column="password" property="password"/>
        <result column="enabled" property="enabled"/>
        <result column="create_time" property="createTime"/>
        <collection property="roles" ofType="com.EZedu.model.Role">
            <id column="role_id" property="id"/>
            <result column="role_name" property="name"/>
        </collection>
    </resultMap>
    <select id="loadUserByEmail" resultType="com.EZedu.model.User">
        SELECT * FROM user WHERE email=#{email}
    </select>
    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.EZedu.model.User">
        INSERT INTO user set email=#{email},password=md5(#{password}),givenname=#{givenname},surname=#{surname},age=#{age},
        address=#{address},wechat=#{wechat},school=#{school},
        hobby=#{hobby},purpose=#{purpose},skill=#{skill},enabled=#{enabled}
    </insert>
    <update id="update" parameterType="com.EZedu.model.User">
        UPDATE user set email=#{email},givenname=#{givenname},surname=#{surname},age=#{age},
        address=#{address},wechat=#{wechat},school=#{school},
        hobby=#{hobby},purpose=#{purpose},skill=#{skill},enabled=#{enabled} WHERE id=#{id}
    </update>
    <update id="updateUserWechat">
        UPDATE user set wechat=#{wechat} WHERE id=#{id}
    </update>
    <select id="getUserByEmail" resultMap="UserResultMap">
        SELECT u.*,r.`id` AS rid,r.`name` AS rname FROM user u,role r,role_user ru WHERE u.`id`=ru.`user_id` AND
        r.`id`=ru.`rid` AND u.`id` NOT IN(SELECT u.`id` FROM user u,role_user ru WHERE u.`id`=ru.`user_id`
        AND ru.`role_id`=1)
        <choose>
            <when test="email!=null and email!=''">
                and u.email like concat('%',#{email},'%') ORDER BY u.`id`
            </when>
            <otherwise>
                ORDER BY u.`id` limit 20
            </otherwise>
        </choose>
    </select>
    <select id="getAllUsers" resultType="com.EZedu.model.User">
        SELECT * from user;
    </select>
    <select id="getUserById" resultMap="UserResultMap">
        SELECT u.*,r.`id` AS rid,r.`name` AS rname FROM user u,role r,role_user ru WHERE u.`id`=ru.`user_id` AND
        r.`id`=ru.`role_id` AND u.`id`=#{id}
    </select>
    <select id="getAllRoles" resultType="com.EZedu.model.Role">
        select * from role;
    </select>
    <update id="updateUserEnabled">
        UPDATE user set enabled=#{enabled} WHERE id=#{uid}
    </update>
    <delete id="deleteUserById">
        DELETE FROM user WHERE id=#{id}
    </delete>
    <delete id="deleteUserRolesByUserId">
        DELETE FROM roles_user WHERE user_id=#{userId}
    </delete>
    <insert id="setUserRoles">
        INSERT INTO role_user(role_id,user_id) VALUES
        <foreach collection="roleIds" separator="," item="roleId">
            (#{roleId},#{userId})
        </foreach>
    </insert>
</mapper>
